---
const { title, desc } = Astro.props;
const items = [
    { name: 'Enter a food item', placeholder: 'Enter a food item', type: 'text' }
    //{ name: 'Password'val, placeholder: 'Enter password', type: 'password' } 
];
const categories = [{value: "1", name: "North Indian"}, 
                    {value: "2", name: "South Indian"}, 
                    {value: "3", name:"Continental"}, 
                    {value: "4", name:"Italian"}
                    ]
---
<div class="w-full h-screen flex justify-center items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24 ">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-white gradient-text text-center font-extrabold tracking-tighter text-6xl">{title}</h1>
      <p class="mt-4 text-white text-3xl">{desc}</p>
    </div>


    <form action="/menu" class="mx-auto mt-8 mb-0 max-w-md space-y-4 ">
            {
                items.map(item => (
                <div>
                    <label for={item.name} class="sr-only">{item.name}</label>
                    <div class="relative">
                        <input
                        type={item.type as astroHTML.JSX.HTMLInputTypeAttribute}
                        class="text-black w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        placeholder={item.name}/>
                    </div>
                </div>
                ))   
            }
            
              <div class="mb-3" >
                <select class= "text-black w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm" aria-label="Default select example">
                    <option selected>Pick a Category</option>
                    {
                      categories.map(cat => (
                        <option value={cat.value} class= "text-black w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm">{cat.name}</option>
                      )
                      )
                    }
                </select>
              
            </div>
            <div class="flex items-center justify-center">
              <button
            type="submit"
            class=" rounded-lg bg-blue-500 px-10 py-3 text-sm font-medium text-white">
            Confirm
          </button>
        </div>
       
      </form><br>
      </div>
    </div>



    <!-- <div class=" w-full flex justify-center">
           <div @click.away="openSort = false" class="relative" x-data="{ openSort: true,sortType:'Pick a Category' }">
               <button @click="openSort = !openSort" class="flex  text-white bg-gray-200 items-center justify-start w-40  py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg ">
                   <span x-text="sortType"></span>
                   <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': openSort, 'rotate-0': !openSort}" class="w-4 h-4  transition-transform duration-200 transform "><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                 </button>
             <div x-show="openSort" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute z-50 w-full  origin-top-right">
               <div class="px-2 pt-2 pb-2 bg-white rounded-md shadow-lg dark-mode:bg-gray-700">
                 <div class="flex flex-col">
                   <a @click="sortType='North Indian',openSort=!openSort" x-show="sortType != 'North Indian'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">
                     
                     <div class="">
                       <p class="font-semibold">North Indian</p>
                     </div>
                   </a>
   
                   <a @click="sortType='Chinese',openSort=!openSort" x-show="sortType != 'Chinese'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">
                     
                     <div class="">
                       <p class="font-semibold">Chinese</p>
                     </div>
                   </a>
   
                   <a @click="sortType='South Indian',openSort=!openSort" x-show="sortType != 'South Indian'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">
                     
                     <div class="">
                       <p class="font-semibold">South Indian</p>
                     </div>
                   </a>

                   <a @click="sortType='Continental',openSort=!openSort" x-show="sortType != 'Continental'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">
                     
                    <div class="">
                      <p class="font-semibold">Continental</p>
                    </div>
                  </a>

                  <a @click="sortType='Italian',openSort=!openSort" x-show="sortType != 'Italian'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">
                     
                    <div class="">
                      <p class="font-semibold">Italian</p>
                    </div>
                  </a>
                 </div>
               </div>
             </div>
           </div> 
           <button
            type="submit"
            class="ml-3 block rounded-lg bg-zinc-700 px-5 py-3 text-sm font-medium text-white"
          >
            Confirm
          </button>
       </div>
       <script src="//unpkg.com/alpinejs" defer></script>
       
</div> -->