---
import MenuLayout from "../layouts/MenuLayout.astro";

enum Colors {
    red = 'bg-red-500',
    green = 'bg-green-500',
    pink = 'bg-pink-500',
    purple = 'bg-purple-500'
}


const menuItems = [
    { type: "Italian" , dish: 'Gelato', color: Colors.red, description: '', price: '250', image: 'public/Italian/gelato.webp' },
    { type: "Italian" , dish: 'Gnocchi', color: Colors.red, description: '', price: '150', image: 'public/Italian/gnocchi.webp' },
    { type: "Italian" , dish: 'Lasagne', color: Colors.red, description: '', price: '200', image: 'public/Italian/lasagne.webp' },
    { type: "Italian" , dish: 'Pasta', color: Colors.red, description: '', price: '250', image: 'public/Italian/pasta.webp' },
    { type: "Italian" , dish: 'Non-Veg Pizza', color: Colors.red, description: '', price: '250', image: 'public/Italian/pizza.webp' }, 
    { type: "Italian" , dish: 'Ravioli', color: Colors.red, description: '', price: '250', image: 'public/Italian/ravioli.webp' }, 
    { type: "Italian" , dish: 'Tortellini', color: Colors.red, description: '', price: '250', image: 'public/Italian/tortellini.webp' }, 
    { type: "Italian" , dish: 'Veg Pizza', color: Colors.red, description: '', price: '250', image: 'public/Italian/vegpizza.webp' }
]
---
<MenuLayout>
    <div class="container w-full px-5 py-6 mx-auto">
        <div class="grid lg:grid-cols-4 gap-y-6">
            {
                menuItems.map(item => (
                    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
                        <img class="w-full h-48" src={item.image} alt="Image" />
                    <div class="px-6 py-4">
                    <div class="flex mb-2">
                    <span class={`px-4 py-0.5 text-sm ${item.color} rounded-full text-red-50`}>{item.type}</span>
                    </div>
                    <h4 class="mb-3 text-md font-semibold tracking-tight text-green-600 uppercase">{item.dish}</h4>
                    <p class="leading-normal text-gray-300">{item.description}</p>
                    </div>
                    <div class="flex items-center justify-between p-4">
                    <span class="text-xl text-blue-600">{`₹${item.price}`}</span>
                    <button class="rounded-lg bg-blue-500 px-10 py-3 text-sm font-medium text-white">Add to Cart</button>
                    </div>
                </div>
                ))
            }
        </div>
      </div>
</MenuLayout>
<script>
const isLoggedIn = localStorage.getItem('isLoggedIn');
if (isLoggedIn === null)
    window.location.href = '/login'
</script>