---
const items = [
    { name: 'Email', placeholder: 'Enter email', type: '' },
    { name: 'Password', placeholder: 'Enter password', type: 'password' }
]
const { title, desc } = Astro.props;
---
<section class="relative flex flex-wrap lg:h-screen lg:items-center">
    <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">{title}</h1>
        <p class="mt-4">{desc}</p>
      </div>
  
      <form action="/dashboard" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
            {
                items.map(item => (
                <div>
                    <label for={item.name} class="sr-only">{item.name}</label>
                    <div class="relative">
                        <input
                        type={item.type as astroHTML.JSX.HTMLInputTypeAttribute}
                        class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        placeholder={item.name}/>
                    </div>
                </div>
                ))
            }
        <div class="flex items-center justify-between">
          <p class="text-sm text-gray-500">
            No account?
            <a href="#" class="underline">Sign up</a>
          </p>
  
          <button
            type="submit"
            class="ml-3 inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
          >
            Sign in
          </button>
        </div>
      </form>
    </div>
  
    <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
      <img
        alt="Welcome"
        src="https://img.freepik.com/free-photo/paneer-butter-masala-cheese-cottage-curry-served-with-rice-laccha-paratha_466689-73715.jpg?w=1380&t=st=1670775744~exp=1670776344~hmac=c11f975d816747c037770d05b33428a78791ec1b90db81135947915455f0c0d6&auto=format&fit=crop&w=774&q=80"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
  </section>
  