---
import { generateImage } from 'astro-eleventy-img';

const items = [
    { name: "", placeholder: 'Enter a review', type: 'textarea' }, 
]

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const options = [
  'Burger_Final.png',
  'Donut.png',
  'Drumstick.png',
  'Fries.png',
  'Hot Dog.png',
  'Glass_Drink.png',
  'Sandwich.png',
  'Soda_Can.png',
  'Soda_Cup.png'
];

const random = options[~~(Math.random() * options.length)];
const food = `assets/render/foods/${random}`;

const { webp, avif, png } = generateImage(food, {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/food",
  urlPath: "/assets/images/food",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");

const { title, desc } = Astro.props;
---

<section class="text-white">
  
<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  
    <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">{title}</h1>
        <p class="mt-4">{desc}</p>
      </div>
      
      <form action="/dashboard" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
            {
                items.map(item => (
                <div>
                    <label for={item.name} class="sr-only">{item.name}</label>
                    <div class="relative">
                        <textarea class="scroll text-black w-full rounded-lg border-gray-200 text-sm shadow-sm" name="review" cols="10" rows="5"></textarea>
                    </div>
                </div>
                ))   
            }
        <div class="flex items-center justify-center">
         
          <button
            type="submit"
            class="ml-3 inline-block rounded-lg bg-blue-500 px-7 py-3 text-sm font-medium text-white"
          >
            Submit Review
          </button>
        
        </div>
      
      </form>
    
    </div>
  
  
    <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
      <picture class="absolute inset-0 h-full w-full object-cover">
        <source type="image/avif" srcset={avifSrcset} sizes={sizes} />
        <source type="image/webp" srcset={webpSrcset} sizes={sizes} />
        <source type="image/png" srcset={pngSrcset} sizes={sizes} />
        <img
          class="object-cover w-full h-full"
          src={webp[0].url}
          width={webp[0].width}
          height={webp[0].height}
          alt="Login page food"
        />
      </picture>
    </div>
  </section>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>


<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
  picture {
    animation: float linear 2.5s infinite alternate;
  }
  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }
    :global(#starfield) {
      @apply hidden;
    }
    #splash-bg-fallback {
      @apply block;
    }
  }
  .scroll::-webkit-scrollbar {
   display: none;
 }
</style>